<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lits</title>
</head>
<body>
    <h1>Система учета персонала</h1>
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Midle name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        {{#each user}}
        <tr>
            <td>{{this.FirstName}}</td>
            <td>{{this.LastName}}</td>
            <td>{{this.MidleName}}</td>
            <td>{{this.Age}}</td>
            <td>{{this.Email}}</td>
            <td>{{this.Phone}}</td>
            <td>
                <a href="/edit/{{this.ID}}">Edit</a>
                <form action="delete/{{this.ID}}" method="POST" style="display: inline;">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
    <p><a href="/create">Добавить пользователя</a></p>
</body>
</html>